body{
    
    background-image: url('hatter.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    color:aliceblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}